body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.chart-types {
  width: 400px;
  margin: 0 auto;
}
.chart-types li {
  margin-left: 30px;
}
.chart-types li i {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("../img/charttype.png") no-repeat;
}
.chart-types li .line i {
  background-position: 0 -110px;
}
.chart-types li .bar i {
  background-position: 0 -54px;
}
.chart-types li .pie i {
  background-position: 0 0;
}
.chart-types li .timeline i {
  background-position: -3px -168px;
}
#chart-type-switch-modal .alert {
  padding: 4px 35px 4px 14px;
  margin-bottom: 0;
}
#flash-container {
  position: fixed;
}
.inline {
  white-space: nowrap;
}
.color-input {
  width: 60px;
  color: #444;
}
