body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.chart-types {
  width: 400px;
  margin: 0 auto;
}
.chart-types li {
  margin-left: 30px;
}
.chart-types li i {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("../img/charttype.png") no-repeat;
}
.chart-types li .line i {
  background-position: 0 -110px;
}
.chart-types li .bar i {
  background-position: 0 -54px;
}
.chart-types li .pie i {
  background-position: 0 0;
}
.chart-types li .timeline i {
  background-position: -3px -168px;
}
#chart-type-switch-modal {
  margin: -160px 0 0 -280px;
}
#flash-container {
  position: fixed;
}
.inline {
  white-space: nowrap;
}
.color-input {
  width: 60px;
  color: #444;
}
#loading-modal {
  width: 120px;
  height: 120px;
  margin: -120px 0 0 -60px;
  overflow: hidden;
}
#loading-modal .modal-body {
  padding: 0;
  overflow: hidden;
}
#loading-modal .circle {
  margin: 15px;
  width: 90px;
  height: 90px;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: orbit;
  -webkit-animation-duration: 2s;
}
#loading-modal .circle .bee {
  background: url("../img/charttype.png") no-repeat 0 -235px;
  width: 40px;
  height: 40px;
}
@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
