!!!5
html
    head
        meta(charset="utf-8")
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="beechart, chart, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        link(rel="stylesheet",type="text/css",href="css/bootstrap.css")
        link(rel="stylesheet",type="text/css",href="css/page.css")
    body
        .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner
                .container-fluid
                    a.brand(href="#") BeeChart
        .container-fluid
            .row-fluid
                .span4
                    .well
                        ul.nav.nav-tabs
                            li.active
                                a(href="#general",data-toggle="tab") 通用样式
                            li
                                a(href="#pie",data-toggle="tab") 饼图专有
                        .tab-content
                            .tab-pane.active#general
                                .well#generalPosSet
                                    h4 legend位置
                                    label.radio.inline
                                        input(type="radio",name="legendPos",value="1")#inlineCheckbox1
                                        span 上
                                    label.radio.inline
                                        input(type="radio",name="legendPos",value="2")#inlineCheckbox1
                                        span 下
                                    label.radio.inline
                                        input(type="radio",name="legendPos",value="")#inlineCheckbox1
                                        span 左
                                    label.radio.inline
                                        input(type="radio",name="legendPos",value="")#inlineCheckbox1
                                        span 右
                                    label.radio.inline
                                        input(type="radio",name="legendPos",value="")#inlineCheckbox1
                                        span none
                            .tab-pane#pie
                .span8
                    .well.flash-container

        script(src="js/jquery.js")
        script(src="js/underscore.js")
        script(src="js/backbone.js")
        script(src="js/bootstrap.js")
        script(src="http://sjpsega.github.com/beechart/js/beechart/flash.js")
        script(src="js/general.js")
        script(src="js/app.js")
        script(src="js/page.js")
        script
            $(function () {
                $('#myTab a:last').tab('show');
            })


