!!!5
html
    head
        meta(charset="utf-8")
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="beechart, chart, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        link(rel="stylesheet",type="text/css",href="css/bootstrap.css")
        link(rel="stylesheet",type="text/css",href="css/page.css")
    body
        .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner
                .container-fluid
                    a.brand(href="#") BeeChart
        .container-fluid
            .row-fluid
                .span4
                    .well
                        ul.nav.nav-tabs
                            li.active
                                a(href="#general",data-toggle="tab") 通用样式
                            li
                                a(href="#pie",data-toggle="tab") 饼图专有
                        .tab-content
                            .tab-pane.active#general
                                .well#legend-set
                                    .containe(data-key="position")
                                        h5 legend位置
                                        label.radio.inline
                                            input(type="radio",name="position-group",value="top")
                                            span 上
                                        label.radio.inline
                                            input(type="radio",name="position-group",value="bottom")
                                            span 下
                                        label.radio.inline
                                            input(type="radio",name="position-group",value="left")
                                            span 左
                                        label.radio.inline
                                            input(type="radio",name="position-group",value="right")
                                            span 右
                                        label.radio.inline
                                            input(type="radio",name="position-group",value="none")
                                            span none
                                    .containe(data-key="align")
                                        h5 legend水平对齐
                                        label.radio.inline
                                            input(type="radio",name="align-group",value="left")
                                            span 左对齐
                                        label.radio.inline
                                            input(type="radio",name="align-group",value="right")
                                            span 右对齐
                                        label.radio.inline
                                            input(type="radio",name="align-group",value="center")
                                            span 居中
                            .tab-pane#pie
                                .well#pie-chart-set
                                    .containe(data-key="animate")
                                        h5 pie初始动画
                                        label.radio.inline
                                            input(type="radio",name="pie-animate-group",value="clockwise")
                                            span 顺时针
                                        label.radio.inline
                                            input(type="radio",name="pie-animate-group",value="counter_clockwise")
                                            span 逆时针
                                        label.radio.inline
                                            input(type="radio",name="pie-animate-group",value="composite")
                                            span 组合
                                        label.radio.inline
                                            input(type="radio",name="pie-animate-group",value="expand")
                                            span 扩张
                                        label.radio.inline
                                            input(type="radio",name="pie-animate-group",value="none")
                                            span none
                .span8
                    .well.flash-container

        script(src="js/jquery.js")
        script(src="js/underscore.js")
        script(src="js/backbone.js")
        script(src="js/bootstrap.js")
        script(src="http://sjpsega.github.com/beechart/js/beechart/flash.js")
        script(src="js/editor/stylesheet.js")
        script(src="js/editor/stylecenter.js")
        script(src="js/editor/app.js")
        script(src="js/editor/page.js")
        script(src="js/editor/general/general.js")
        script(src="js/editor/general/legend.js")
        script(src="js/editor/pie/pie.js")
        script(src="js/editor/pie/pie-chart.js")
        script


