!!!5
html
    head
        meta(charset="utf-8")
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="beechart, chart, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        link(rel="stylesheet",type="text/css",href="css/bootstrap.css")
        link(rel="stylesheet",type="text/css",href="css/page.css")
    body
        .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner
                .container-fluid
                    a.brand(href="#") BeeChart
                    ul.nav.pull-right
                        a(href="#chart-type-switch-modal",role="button",data-toggle="modal").btn.btn-inverse#switch 切换图表类型
                        button.btn.btn-inverse#download 下载当前样式
        .container-fluid
            .row-fluid
                .span8.flash-container
                .span4
                    .well#config-container.hide
        include include/chart-type-switch-modal.jade
                
        script(src="js/jquery.js")
        script(src="js/underscore.js")
        script(src="js/underscore.string.js")
        script(src="js/backbone.js")
        script(src="js/bootstrap.js")
        script(src="js/flash.js")
        script(src="js/FileSaver.js")
        script(src="js/log.js")
        script(src="js/editor/base/base.js")
        script(src="js/editor/stylesheet.js")
        script(src="js/editor/stylecenter.js")
        script(src="js/editor/app.js")
        script(src="js/editor/general/general.js")
        script(src="js/editor/general/common.js")
        script(src="js/editor/general/legend.js")
        script(src="js/editor/general/tooltip.js")
        script(src="js/editor/line/line.js")
        script(src="js/editor/bar/bar.js")
        script(src="js/editor/pie/pie.js")
        script(src="js/editor/pie/pie-chart-set.js")
        script(src="js/editor/pie/pie-slice-set.js")
        script(src="js/editor/init.js")
        script(type="text/template")#pie-config
            ul.nav.nav-tabs
                li.active
                    a(href="#general",data-toggle="tab") 通用样式
                li
                    a(href="#pie",data-toggle="tab") 饼图专有
            .tab-content
                .tab-pane.active#general
                    .well#legend-set
                        include include/legend-set.jade
                .tab-pane#pie
                    .well#pie-chart-set
                        include include/pie-chart-set.jade
                    .well#pie-slice-set
                        include include/pie-slice-set.jade
        script(type="text/template")#line-config
            ul.nav.nav-tabs
                li.active
                    a(href="#general",data-toggle="tab") 通用样式
                li
                    a(href="#line",data-toggle="tab") 折线专有
            .tab-content
                .tab-pane.active#general
                    .well#common-set
                        include include/common-set.jade
                    .well#legend-set
                        include include/legend-set.jade
                    .well#tooltip-set
                        include include/tooltip-set.jade
                .tab-pane#line
        script(type="text/template")#bar-config
            ul.nav.nav-tabs
                li.active
                    a(href="#general",data-toggle="tab") 通用样式
                li
                    a(href="#bar",data-toggle="tab") 折线专有
            .tab-content
                .tab-pane.active#general
                    .well#common-set
                        include include/common-set.jade
                    .well#legend-set
                        include include/legend-set.jade
                    .well#tooltip-set
                        include include/tooltip-set.jade
                .tab-pane#bar
        script(type="text/template")#timeline-config


