h3 Bar
.containe-colortype-choose(data-key="color")
    h5 点的颜色
    .colorTypeRadios
        label.radio.inline
            input(type="radio",name="color-group",value="inherit#color")
            span 与线的颜色一致
        label.radio.inline
            input(type="radio",name="color-group",value="forCustom")
            span 自定义
    .for-color-custom
        input(type="color")
        input(type="text",value="#000000").help-inline.color-input
.containe(data-key="dropShadow")
    h5 柱形阴影
    label.radio.inline
        input(type="radio",name="dropShadow-group",value="light")
        span 有
    label.radio.inline
        input(type="radio",name="dropShadow-group",value="none")
        span 无
.containe(data-key="thickness")
    h5 线条粗细
    input(type="range",max="10",min="0",step="0.1")
    span
.containe(data-key="fillType")
    h5 线条辐射区类型
    label.radio.inline
        input(type="radio",name="fillType-group",value="gradient")
        span 渐变
    label.radio.inline
        input(type="radio",name="fillType-group",value="normal")
        span 普通
.containe(data-key="fillAlpha")
    h5 线条辐射区透明度
    input(type="range",max="1",min="0",step="0.01")
    span