h3 Canvas
.containe(data-key="borderColor")
    h5 边框颜色
    input(type="color")
.containe(data-key="borderThickness")
    h5 边框粗细
    input(type="range",max="10",min="0",step="0.5")
    span
.containe(data-key="borderAlpha")
    h5 边框透明度
    input(type="range",max="1",min="0",step="0.01")
    span
.containe(data-key="backgroundColor")
    h5 背景颜色1
    input(type="color")
.containe(data-key="backgroundColor2")
    h5 背景颜色2
    input(type="color")
.containe(data-key="backgroundAlpha")
    h5 边框透明度
    input(type="range",max="1",min="0",step="0.01")
    span


