h3 通用
.containe(data-key="leftAxisVisibility")
    h5 y轴是否可见
    label.radio.inline
        input(type="radio",name="leftAxisVisibility-group",value="visible")
        span 可见
    label.radio.inline
        input(type="radio",name="leftAxisVisibility-group",value="invisible")
        span 不可见
.containe(data-key="enableTooltip")
    h5 是否显示提示
    label.radio.inline
        input(type="radio",name="enableTooltip-group",value="true")
        span 显示
    label.radio.inline
        input(type="radio",name="enableTooltip-group",value="false")
        span 隐藏