h3 Legend
.containe(data-key="position")
    h5 位置
    label.radio.inline
        input(type="radio",name="position-group",value="top")
        span 上
    label.radio.inline
        input(type="radio",name="position-group",value="bottom")
        span 下
    label.radio.inline
        input(type="radio",name="position-group",value="left")
        span 左
    label.radio.inline
        input(type="radio",name="position-group",value="right")
        span 右
    label.radio.inline
        input(type="radio",name="position-group",value="none")
        span none
.containe(data-key="align")
    h5 水平对齐
    label.radio.inline
        input(type="radio",name="align-group",value="left")
        span 左对齐
    label.radio.inline
        input(type="radio",name="align-group",value="right")
        span 右对齐
    label.radio.inline
        input(type="radio",name="align-group",value="center")
        span 居中
.containe(data-key="valign")
    h5 垂直对齐
    label.radio.inline
        input(type="radio",name="valign-group",value="top")
        span 上
    label.radio.inline
        input(type="radio",name="valign-group",value="middle")
        span 中
    label.radio.inline
        input(type="radio",name="valign-group",value="bottom")
        span 下
.containe(data-key="itemEachColumn")
    h5 每一行最多的item数量
    input(type="number",name="itemEachColumn",max="10",min="1",step="1")
.containe(data-key="interactive")
    h5 item是否可交互(允许用户切换对应数据的显示和隐藏)
    label.radio.inline
        input(type="radio",name="interactive-group",value="true")
        span 是
    label.radio.inline
        input(type="radio",name="interactive-group",value="false")
        span 否
