h3 tooltip
.containe(data-key="color")
    h5 文字颜色
        input(type="color",name="position-group")
.containe(data-key="backgroundType")
    h5 背景形式
    label.radio.inline
        input(type="radio",name="backgroundType-group",value="slash")
        span 特定
    label.radio.inline
        input(type="radio",name="backgroundType-group",value="simple")
        span 常规
